# System Files
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime Workspace files
*.sublime-project
*.sublime-workspace

# Specific compiled files
apyc
output.dSYM/*
src/.depend
src/apyc-lexer.cc
src/apyc-lexer.l
src/apyc-parser.cc
src/apyc-parser.hh
src/apyc-parser.output
src/apyc-parser.y
src/parser-sentinel
