# System Files
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Horn build files
horn/build/*

# Sublime Workspace files
*.sublime-project
*.sublime-workspace
