# Ignore generated binaries
root/bin/*
root/include/*
root/lib/*
root/share/*

# System Files
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime Workspace files
*.sublime-project
*.sublime-workspace
